@media (orientation: landscape) {
    .intro-section {
        height: auto;
    }
}

@media (orientation: portrait) {
    .intro-section {
        height: 100vh;
        overflow: auto;
    }
}

@media only screen and (max-width: 576px) {
    .intro-section .major-text {
        font-size: 24px !important;
    }
    .intro-section .minor-text {
        margin-top: 10px;
        font-size: 20px !important;
    }
    .intro-section :is(.img-wrapper img) {
        width: 150px;
        height: auto;
        border-radius: 50%;
    }
    .pricing-section {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 414px) {
    .pricing-section {
        padding: 0 2rem;
    }
    .product-usage .usage-item {
        padding: 1.5rem;
        background-color: #4fc8f4a2;
        border-radius: 10px;
        border: 2px solid #fff;
        height: 350px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 320px) {
    .pricing-section {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 280px) {
    .pricing-section {
        padding: 0;
    }
}

/* ********************************************************************************************************* */

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1300px) {}